a {color:#369adb;text-decoration:none}
a:hover {color:#23527c;text-decoration:underline}
ul,ol {list-style:none}
img {max-width:100%;vertical-align:middle;border:0 none}
.clear:after {content:'';display:block;clear:both}

/* table */
    .table-wrap {overflow:auto}
    .table-info-group {display:table;width:100%;margin:10px 0 5px;font-size:12px}
    .page-title-sub + .table-info-group {margin-top:-10px}
    .table-info-group > div {display:table-cell;vertical-align:bottom}
    .table-info-group .btn-group-l {width:60%}
    .table-info-group .btn-group-r {text-align:right}
    .table-info-group .ui-btn {margin:3px 0}
    table {width:100%;border-spacing:0;text-align:center;table-layout: fixed;font-size:11px;border-collapse:collapse;word-break:break-all}
    table th,table td {padding:3px 7px;vertical-align:middle;border-top:1px solid #dedede;border-bottom:1px solid #dedede;border-right:1px solid #dedede}
    td {text-align:left}
    td > p {margin:3px 0}
    th {text-align:inherit;background-color:#f5f5f5}
    th label {font-weight:inherit}
    table thead th {height:40px;border-bottom:0 none}
    table tbody th {text-align:right}
    table tbody th,table tbody td {height:38px}
    table thead tr th:last-child,table tbody tr td:last-child,table tbody tr th:last-child {border-right:0 none}
    td img[src *='mall_logo_'] {width:87px}
    .data-table select {padding-top:1px;padding-bottom:1px;}
    /* .data-table tbody tr.toggle-content:hover {background:#f5f5f5} */
    .data-table > tbody > tr:not(.toggle-content):hover {background-color:#f6f6f6}
    .data-table > tbody > .tr-selected td {background-color:#ddf4ff !important}
	.data-table td table {background: #fff}
	.data-table td table th {font-weight:normal;color:#fff;background: #555}
    .data-table td table th,.data-table td table td {height:32px}
	.data-table td table tbody th {border-left:0 none;border-color:#fff}
    .data-table td table tbody > tr:first-child th {border-top-color:#555}
	.data-table td table tbody th + td {border-left-color:#fff !important}
    .colspan > td,.toggle-content > td {padding:15px}
	/* .data-table td table tbody tr:hover {background-color:#e9e9e9} */
    .in-table {width:auto}
    .in-table th,.in-table td {padding-left:15px;padding-right:15px}
    /* col class list */
    .col-num {width:50px}
    .col-check {width:50px}
    .col-toggle {width:40px}
    .col-logo {width:126px}
    .col-name {width:180px}
    .col-id {width:120px}
    .col-status {width:60px}
    .col-type {width:70px}
    .col-fnc {width:92px}
    .col-login {width:90px}
    .col-join {width:110px}
    .col-etc {width:160px}
    .col-edit {width:56px}
    .col-add {width:70px}
    .col-del {width:56px}
    .col-code {width:140px}
    .col-code1 {width:170px}
    .col-code2 {width:210px}
    .col-order {width:210px}
    .col-prd {width:360px}
    .col-prd-w {width:500px}
    .col-stock {width:150px}
    .col-send {width:100px}
    .col-sale {width:100px}
    .col-price {width:120px}
    .col-cate1 {width:250px}
    .col-tax {width:80px}
    .col-per {width:150px}
    .col-delivery {width:90px}
    .col-sku {width:180px}
    .col-mapping {width:90px}
    .col-option {width:140px}
    .col-stockcount {width:80px}
    .col-wholesalers {width:130px}
    .col-divsion {width:130px}
    .col-edit-list {width:150px}
    .col-edit-status {width:200px}
    .error-message {display:none;margin-top:10px;color:#fd4e4e}
    .pannel-wrap table td {background:#fff}

/* ico background */
    .ec-menu > li:not(.single) > a:after,.ec-toggle-help,.btn-close:before,.ui-btn-toggle,.ui-scroll-table-header ul li > div > span:after,.search-wrap:after,.ui-dialog .ui-dialog-titlebar-close,.ec-lnb-wrap .show-menu:before,.close-pannel:after,.layer-header button,.add-thumb:before,
    .edit-order-control a:before,.edit-order-control a:after
    {background-color:transparent;background-image:url('/ec/resource/images/sp_ico.png');background-repeat:no-repeat}

/* Header */
    .ec-header {position:fixed;left:0;top:0;width:100%;height:36px;padding:5px 40px;z-index:10;background-color:#1a2437}
    .ec-header:after {content:'';display:table;clear:both}
    .ec-logo {float:left;font-size:inherit}
    .ec-header-box {margin-left:153px}
    .ec-service-free {position:relati1ve;padding-left:15px;font-size:14px;line-height:1.714286;font-weight:700;color:#cacaca}
    .ec-service-free:hover {color:#5693cd}
    .ec-service-free:before,.ec-service-free:after {content:'';position:absolute;top:0;bottom:0;margin:auto;width:1px;height:14px}
    .ec-service-free:before {left:0;background-color:#000}
    .ec-service-free:after {left:1px;background-color:#3f3f3f}
    .ec-header-right {float:right;width:40%;text-align:right}
    .ec-header-right {font-size:12px}
    .ec-header-right > a:not(.ui-btn) {position:relative;padding:0 15px;line-height:2;color:#a5a5a5;text-decoration:none}
    .ec-header-right > a:not(.ui-btn):before {content:'';position:absolute;left:0;top:0;bottom:0;margin:auto;width:1px;height:14px;background-color:#3f3f3f}
    .ec-header-right > a:first-child:before {display:none}

/* LNB */
    .ec-lnb-wrap {overflow:auto;position:fixed;left:0;top:0;z-index:9;width:193px;height:100%;padding-top:36px;font-size:14px;background-color:#fff/* #414958 */;transition:all .2s}
    .ec-lnb-wrap:after {content:'';position:absolute;right:0;top:0;z-index:-1;height:100%;width:1px;background-color:#ccc}
    .ec-lnb-content {height:100%;overflow-x:hidden;overflow-y:auto}
    .ec-lnb-wrap .show-menu {display:none;position:fixed;left:0;top:0;height:100%;width:15px;cursor:none;background:transparent}
    .ec-lnb-wrap .show-menu:before,.ec-lnb-wrap .show-menu:after {content:'';position:absolute;left:-50px;top:0;bottom:0;margin:auto;opacity:0;transition:all .2s}
    .ec-lnb-wrap .show-menu:before {z-index:1;width:6px;height:10px;background-position:-74px -45px}
    .ec-lnb-wrap .show-menu:after {width:50px;height:50px;border-radius:50%;background:#3b65b5}
    .toggle-lnb {overflow:hidden;display:inline-block;margin-right:25px;padding:3px 0;vertical-align:middle;cursor:pointer;border:0 none;outline:0 none;background:transparent}
    .toggle-lnb span {display:block;width:25px;height:3px;text-indent:-99999px;line-height:0;font-size:0;background:#fff}
    .toggle-lnb:before,.toggle-lnb:after {content:'';display:block;width:25px;height:3px;background:#fff}
    .toggle-lnb:before {margin-bottom:5px}
    .toggle-lnb:after {margin-top:5px}
    .ec-profile {padding:25px 15px;text-align:center}
    .ec-profile:before {content:'';display:block;width:50px;height:50px;margin:0 auto 15px;background:transparent url('/ec/resource/images/ico_user1.png') no-repeat 0 0}
    .ec-profile span {display:block;margin-bottom:15px;color:#555;font-family:'arial','tahoma',sans-serif;font-size:18px}
    .ec-profile a {width:45%}
    .ec-menu a {text-decoration:none}
    .ec-menu > li > a {position:relative;display:block;padding:12px 10px;color:#444;border-right:1px solid #ccc;border-top:1px solid #d9d9d9;background-color:#fff}
    .ec-menu > li > a:focus,.ec-menu > li > a:hover,.ec-menu > li > a.active {color:#fff;border-color:#1e293d;background-color:#1e293d}
    .ec-menu > li:not(.single) > a:after {content:'';position:absolute;right:15px;top:0;bottom:0;width:11px;height:6px;margin:auto;background-position:-15px -10px;opacity:.7}
    .ec-menu > li > a:not(.single):focus:after,.ec-menu > li > a:not(.single):hover:after {background-position:0 -10px}
    .ec-menu > li:not(.single) > a.active:after {background-position:0 0}
    .ec-menu-2depth {display:none;border-right:1px solid #c8c8c8;background:#f2f2f2}
    .ec-menu-2depth a {display:block;padding:7px 15px;color:#555;font-size:12px}
    .ec-menu-2depth a:focus,.ec-menu-2depth a:hover,.ec-menu-2depth a.active {color:#333;background:#b9b9b9}
    .ec-menu > li > a.active + .ec-menu-2depth {display:block}
    .ec-banner {margin:20px 3px 0;height:95px;background:#efefef}

/* layout */
    .ec-wrap {min-width:1070px;min-height:100%;padding:36px 0 20px;margin-left:193px;/* background-color:#e1e1e1; */transition:all .2s}
    .ec-pop-wrap {overflow:auto;height:100%;padding:0 15px 15px}
    .wrap-expend,.wrap-pannel {margin-left:0}
    .wrap-expend .ec-lnb-wrap,.wrap-pannel .ec-lnb-wrap {left:-193px}
    .wrap-expend .ec-lnb-wrap .show-menu {display:block}
    .wrap-expend .ec-lnb-wrap .show-menu:hover {cursor:pointer}
    .wrap-expend .ec-lnb-wrap .show-menu:hover:before,.wrap-expend .ec-lnb-wrap .show-menu:hover:after {opacity:1}
    .wrap-expend .ec-lnb-wrap .show-menu:hover:after {left:-25px}
    .wrap-expend .ec-lnb-wrap .show-menu:hover:before {left:4px}
    .ec-section,.ec-help-content {margin:0 25px}
    .ec-row {margin:15px 0}

    .grid {margin-left:-3px;margin-right:-3px}
    .grid:after {content:'';display:block;clear:both}
    .grid > .col-w-1,.grid > .col-w-2,.grid > .col-w-3,.grid > .col-w-4,.grid > .col-w-5,.grid > .col-w-6,.grid > .col-w-7,.grid > .col-w-8,.grid > .col-w-9,.grid > .col-w-10 {float:left;padding:0 3px}
    div[class*='col-w'] > select,div[class*='col-w'] > .ui-btn {width:100%}
    .col-w-1 {width:10% !important}
    .col-w-2 {width:20% !important}
    .col-w-3 {width:30% !important}
    .col-w-4 {width:40% !important}
    .col-w-5 {width:50% !important}
    .col-w-6 {width:60% !important}
    .col-w-7 {width:70% !important}
    .col-w-8 {width:80% !important}
    .col-w-9 {width:90% !important}
    .col-w-10 {width:100% !important}

/* Typo */
    h1 {font-size:24px}
    h2,.page-title {font-size:22px}
    h3,.page-title-sub {font-size:16px}
    h4 {font-size:13px}
    h5,h6 {font-size:12px}
    h1 small,h2 small,h3 small{margin-left:10px;font-size:75%;font-weight:100}
    .page-title {padding-left:25px;line-height:2;font-weight:300;border-bottom:1px solid #ccc;background-color:#fff}
    .paragraph p {font-size:12px;line-height:1.5;margin-bottom:10px}
    .page-title-sub {padding-left:10px;margin:25px 0;font-weight:300;border-left:4px solid #6e96e2}    
    .t-danger {color:#fd4e4e !important}

/* Buttons */
    .ui-btn {
        display:inline-block;height:30px;padding:5px 10px;font-size:12px;font-weight:400;line-height:1.5;color:#333 !important;
        text-decoration:none !important;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;border:1px solid #ccc;
        background:#fff none;
    }
    .ui-btn:hover {border-color:#adadad;background-color:#e5e5e5}

    /* button size */
    .btn-full {width:100%}
    .btn-xl {height:42px;padding:8px 16px;font-size:18px;line-height:1.3333333}
    .btn-l {height:36px;padding:7px 10px;font-size:14px;line-height:1.42857143}
    .btn-s {height:22px;padding:1px 5px}

    /* button color */
    .btn-blue,.btn-green,.btn-sky,.btn-orange,.btn-red,.btn-black {color:#fff !important}
    .btn-gray {border-color:#b9b9b9;background-color:#dadee4}
    .btn-black {border-color:#000;background-color:#444}
    .btn-blue {border-color:#1e50ad;background-color:#2c62c8}
    .btn-green {border-color:#4cae4c;background-color:#5cb85c}
    .btn-sky {border-color:#46b8da;background-color:#5bc0de}
    .btn-orange {border-color:#eea236;background-color:#f0ad4e}
    .btn-red {border-color:#d43f3a;background-color:#d9534f}
    .btn-gray:hover {border-color:#a1a7af;background-color:#c2c9d2}
    .btn-black:hover {border-color:#000;background-color:#111}
    .btn-blue:hover {border-color:#0d2b64;background-color:#17469d}
    .btn-green:hover {border-color:#398439;background-color:#449d44}
    .btn-sky:hover {border-color:#269abc;background-color:#31b0d5}
    .btn-orange:hover {border-color:#d58512;background-color:#ec971f}
    .btn-red:hover {border-color:#ac2925;background-color:#c9302c}

    /* button disabled */
    .ui-btn.disabled,.ui-btn.disabled:hover,
    .ui-btn[disabled],.ui-btn[disabled]:hover {border-color:#ccc;background-color:#fff;opacity:.6;cursor:not-allowed}
    .btn-gray.disabled,.btn-gray.disabled:hover,
    .btn-gray[disabled],.btn-gray[disabled]:hover {border-color:#b9b9b9;background-color:#dadee4}
    .btn-black.disabled,.btn-black.disabled:hover,
    .btn-black[disabled],.btn-black[disabled]:hover {border-color:#232323;background-color:#444}
    .btn-blue.disabled,.btn-blue.disabled:hover,
    .btn-blue[disabled],.btn-blue[disabled]:hover {border-color:#1e50ad;background-color:#2c62c8}
    .btn-green.disabled,.btn-green.disabled:hover,
    .btn-green[disabled],.btn-green[disabled]:hover {border-color:#4cae4c;background-color:#5cb85c}
    .btn-sky.disabled,.btn-sky.disabled:hover,
    .btn-sky[disabled],.btn-sky[disabled]:hover {border-color:#46b8da;background-color:#5bc0de}
    .btn-orange.disabled,.btn-orange.disabled:hover,
    .btn-orange[disabled],.btn-orange[disabled]:hover {border-color:#eea236;background-color:#f0ad4e}
    .btn-red.disabled,.btn-red.disabled:hover,
    .btn-red[disabled],.btn-red[disabled]:hover {border-color:#d43f3a;background-color:#d9534f}

    .btn-wrap {margin-top:30px;text-align:center}    
    .btn-group-inline {overflow:hidden;display:inline-block;margin-left:3px;vertical-align:middle}
    .btn-group-inline > .ui-btn {float:left;margin:0 2px}

/* forms */
    input[type=password] {font-family:"Tahoma",sans-serif}
    input[type=text],input[type=password],textarea,select {font-size:12px;color:#666;line-height:1.5;border:1px solid #d9d9d9}
    input[type=text],input[type=password],textarea {width:100%;-webkit-appearance:none;border-radius:0}
    input[type=text],input[type=password] {padding:5px;vertical-align:top}
    input[type=text]:focus,input[type=password]:focus,textarea:focus {outline:1px solid #1f89ed;border-color:#1f89ed}
    input[type=checkbox], input[type=radio],label {margin:0}
    table input[type=text],table input[type=password],table textarea,table select {padding:6px 5px;font-size:11px}
    textarea {padding:10px;font-size:12px}
    label {font-weight:normal}
    select {
        position:relative;padding:6px 25px 6px 5px;border-radius:0;vertical-align:middle;
        background:#fff url('/ec/resource/images/bg_select_arr.png') no-repeat 100% 50%;
        -webkit-appearance:none;-moz-appearance:none;appearance:none
    }
    input[readonly],textarea[readonly],select[readonly] {background-color:#eaeaea}
    input[readonly]:focus,textarea[readonly]:focus,select[readonly]:focus {outline:0 none}
    input[disabled],textarea[disabled],select[disabled] {color:#999;background-color:#eaeaea}
    .check-group + .check-group,.check-group + .check-group-inline {margin-top:10px}
    .check-group-inline {display:inline-block;vertical-align:top}
    .check-group:after,.check-group-inline:after {content:'';display:block;clear:both}
    .check-group-inline + .check-group-inline {margin-left:15px}
    .check-group > .ui-check,.check-group-inline > .ui-check,.check-group > .ui-radio,.check-group-inline > .ui-radio,.check-group-inline > .input-group {float:left;margin-right:3px;margin-bottom:3px;padding:5px;/* border-radius:4px; */border:1px solid #dbdbdb;background:#fff}
    .check-group .ui-check:last-child,.check-group-inline .ui-check:last-child,.check-group .ui-radio:last-child,.check-group-inline .ui-radio:last-child {margin-right:0}
    .ui-check,.ui-radio {position:relative;display:inline-block;min-width:16px;min-height:16px;margin-right:10px;vertical-align:middle}
    .ui-check input,.ui-radio input {position:absolute;left:0;top:0;z-index:5;width:16px;height:16px;opacity:0}
    .ui-check input + i,.ui-radio input + i {position:relative;display:inline-block;width:16px;height:16px;margin-right:5px;padding:3px;vertical-align:middle;border:1px solid #ccc;background:#fff}    
    .ui-check input:checked + i,.ui-radio input:checked + i {border-color:#5ca8f1}
    .ui-check input:focus + i,.ui-radio input:focus + i {border-style:dashed}
    .ui-radio input + i:after,.ui-check input + i:after {content:'';display:block;width:8px;height:8px;background:#dddddd}
    .ui-radio input:checked + i:after,.ui-check input:checked + i:after {background:#5ca8f1}
    .ui-radio input + i,.ui-radio input + i:after {border-radius:10px}
    .ui-radio input:focus + i {outline:0 none}
    table .ui-check input + i,table .ui-radio input + i {margin-right:0}

    .ui-radio.disabled,.ui-check.disabled {opacity:.5}

    .ui-file {position:relative;display:inline-block;min-width:300px;padding-left:73px}
    .ui-file > label {position:absolute;left:0;top:0;z-index:1;width:100%;height:100%}
    .ui-file > label > span {position:absolute;left:0;top:0;width:70px;padding:0 10px;color:#fff;font-size:12px;line-height:2.5;text-align:center;background:#499eef}
    .ui-file > label input {position:absolute;left:0;top:0;width:100%;height:30px;opacity:0}
    .ui-file > input {}

    .form-name > div:first-child ~ div {margin-top:5px}
    .form-with-btn > span {float:left}
    .form-with-btn > span:first-child {width:65%}
    .form-with-btn > span:first-child + span {width:35%;padding-left:10px}
    .form-with-btn > span:first-child + span .ui-btn {width:100%}
    .form-with-btn > span select {width:100%}
    .form-with-btn > span > em {color:#777;font-style:normal;line-height:2.5}

    .addr-num > div {float:left}
    .addr-num > div:first-child {width:50%}
    .addr-num > div:first-child ~ div {margin-left:5px}
    .addr-num > div > span {float:left;width:50%}
    .addr-num > div > span input {text-align:center}
    .addr-num > div > span:first-child {position:relative;padding-right:20px}
    .addr-num > div > span:first-child:after {content:'';position:absolute;right:7px;top:0;bottom:0;margin:auto;width:6px;height:1px;background:#999}
    .addr-num + .auto-addr {margin-top:5px}
    .auto-addr {margin-bottom:5px}
    .auto-addr > span {float:left;width:calc(100% / 3)/* 33.33333% */}
    .auto-addr > span:first-child ~ span {padding-left:5px}

    .form-tel > span {float:left;width:calc(100% / 3)/* 33.33333% */}
    .form-tel > span input {text-align:center}
    /* .form-tel > span:first-child {width:33.33334%} */
    .form-tel > span:first-child ~ span {position:relative;padding-left:20px}
    .form-tel > span:first-child ~ span:before {content:'';position:absolute;left:7px;top:0;bottom:0;margin:auto;width:6px;height:1px;background:#999}
    .form-price input {width:calc(100% - 20px);text-align:right;vertical-align:middle}

    .input-group {position:relative;overflow:hidden;padding:4px 5px !important}
    .input-group .ui-datepicker-trigger {width:20px}
    .input-group-date {float:left;margin-right:3px}
    .input-group > input[type='text'] {width:150px;margin-left:5px}
    .input-group input[type='text'] {padding:0 5px}
    .input-group .form-price {display:inline-block;margin-left:5px}
    .input-group .ui-radio,.input-group .ui-check {margin-right:0}


    /* toggle switch */
    .toggle-switch {position:relative;z-index:5;display:inline-block;width:65px;height:30px;vertical-align:middle;border:1px solid #ccc;border-radius:15px;background-color:#fff}
    .toggle-switch span {display:block;padding:1px 0}
    .toggle-switch span i {display:inline-block;width:50%;font-size:12px;vertical-align:middle;font-style:normal;text-align:center;line-height:2.3;cursor:pointer;}
    .toggle-switch label {display:block;width:100%;height:100%}
    .toggle-switch label .off {color:#fff}
    .toggle-switch input {position:absolute;left:-100%;top:-100%;opacity:0}
    .toggle-switch label > span:after {content:'';position:absolute;top:2px;z-index:-1;width:50%;height:24px;border-radius:12px;background:#2c62c8}
    .toggle-switch label > span:after {
        left:calc(50% - 1px);
        -webkit-transition:all 0.2s;
        -o-transition:all 0.2s;
        transition:all 0.2s
    }
    .toggle-switch input:checked + span:after {left:2px;background:#2bc45e}
    .toggle-switch input:checked + span .off {color:#666}
    .toggle-switch input:checked + span .on {color:#fff}
    .toggle-switch *::selection {color:inherit;background:none repeat scroll 0 0 transparent}    

/* Align */
    .t-left {text-align:left !important}
    .t-left th,.t-left td {text-align:left}
    .t-center {text-align:center !important}
    .t-center th,.t-center td {text-align:center}
    .t-right {text-align:right !important}
    .t-right th,.t-right td {text-align:right}

/* List */
    .list {counter-reset: myIndex sub;font-size:12px;line-height:1.5}
    .list-inline {margin-left:-5px}
    .list li {position:relative;padding-left:15px !important;margin-top:5px;text-align:left}
    .list-inline li {display:inline-block;padding-left:5px;padding-right:5px}
    .list > li:first-child {margin-top:0}
    .list > li:before,.list > li > ul > li:before,.list > li > ol > li:before {position:absolute;left:0}
    .list > li > ol li:before {counter-increment: sub;content:counter(sub)'.';top:0;width:auto;height:auto;border-radius:inherit;background-color:transparent}
    ul.list > li:before {content:'';top:7px;width:4px;height:4px;border-radius:2px;background-color:#555}
    ul.list > li > ul > li:before {content:"-"}
    .list > li > ul,.list > li > ol {margin-left:10px}
    ol.list > li:before {counter-increment: myIndex;content:counter(myIndex)'.';top:0;width:auto;height:auto;border-radius:inherit;background-color:transparent}
    dl.list dd + dt {margin-top:10px}
    dl.list dd {margin:5px 0;line-height:1.5;text-align:left}
    dl.list-inline {overflow:hidden;margin-left:0}
    dl.list-inline dt {float:left;width:160px;overflow:hidden;font-weight:bold;text-align:right}
    dl.list-inline dd {margin-left:180px}
    .list-inline li,.list-inline dt,.list-inline dd,.list li,.list dt,.list dd {line-height:2}
    .non-style li {padding-left:0}
    .non-style li:before {display:none}

/* pagination */
    .pagination-wrap {margin: 10px 0;text-align:center;font-family:'arial','tahoma',sans-serif;}
    .pagination-wrap:after {content:'';display:block;clear:both}
    .page-total {float:left;font-size:12px}
    .page-total strong {margin-right:10px;color:#888;font-weight:normal;font-size:14px;line-height:1.5}
    .ui-pagenation {float:right;}
    .ui-pagenation select {padding:7px 25px 7px 5px;vertical-align:top;font-size:12px;border-radius:4px;}
    .pagination {display: inline-block;border-radius: 4px}
    .pagination > li {display: inline}
    .pagination>li>a,.pagination>li>span {
        position: relative;float: left;padding: 6px 12px;margin-left: -1px;font-size:14px;line-height: 1.42857143;color: #337ab7;
        text-decoration: none;background-color: #fff;border: 1px solid #ddd
    }
    .pagination>li:first-child>a,.pagination>li:first-child>span {margin-left: 0;border-top-left-radius: 4px;border-bottom-left-radius: 4px}
    .pagination>li:last-child>a,.pagination>li:last-child>span {border-top-right-radius: 4px;border-bottom-right-radius: 4px}
    .pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover {color: #23527c;background-color: #eee;border-color: #ddd}
    .pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{
        z-index: 2;color: #fff;cursor: default;background-color: #2d4c88;border-color: #2d4c88
    }
    .pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover {
        color: #777;cursor: not-allowed;background-color: #fff;border-color: #ddd
    }
    .pagination-lg>li>a,.pagination-lg>li>span {padding: 10px 16px;font-size: 18px}
    .pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span {border-top-left-radius: 6px;border-bottom-left-radius: 6px}
    .pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span {border-top-right-radius: 6px;border-bottom-right-radius: 6px}
    .pagination-sm>li>a,.pagination-sm>li>span {padding: 5px 10px;font-size: 12px}
    .pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span {border-top-left-radius: 3px;border-bottom-left-radius: 3px}
    .pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span {border-top-right-radius: 3px;border-bottom-right-radius: 3px}

/* labels */
    .ui-label {
        display:inline-block;height:18px;padding:0 7px;font-size:11px;font-weight:100;line-height:20px;color:#fff;
        text-align:center;white-space:nowrap;vertical-align:middle;background-color:#a9a9a9
    }
    .ui-label.danger {background:#fd4e4e;color:#fff}

/* badge */
    .badge {display: inline-block;min-width: 10px;padding: 3px 7px;margin-left:10px;font-size: 11px;font-weight:normal;line-height: 1;color: #fff;text-align: center;white-space: nowrap;vertical-align: baseline;background: #8697b7;border-radius: 10px;}
    .t-danger .badge {background:#f72865}

/* status */
    .ico-status {display:inline-block;width:24px;height:24px;vertical-align:middle;background:transparent url('/ec/resource/images/ico_status.png') no-repeat 0 0}
    .ico-status.done {background-position:0 0}
    .ico-status.update {background-position:-24px 0}
    .ico-status.error {background-position:-48px 0}

/* Toggle Content */
    .ui-btn-toggle {display:inline-block;width:20px;height:20px;vertical-align:middle;background-position:-60px 0}
    .ui-btn-toggle.active {background-position:-60px -20px}
    .toggle-content {display:none}
    .toggle-content.active {display:block}
    tr.toggle-content.active {display:table-row;background:#dfdfdf}

/* box */
    .btn-close {position:absolute;right:15px;top:10px;width:21px;height:21px}
    .btn-close:before {content:'';position:absolute;right:3px;top:3px;width:15px;height:15px;background-position:-42px 0}

    /* Help Content */
    .ec-toggle-help {display:inline-block;width:18px;height:18px;margin-left:10px;vertical-align:middle;background-position:0 -10px;background-size:24px auto}
    .ec-help-content {display:none;position:relative;margin-top:15px;padding:20px;font-size:12px;background-color:#497aaf;color:#c4daf1/* ;border-radius:10px */}
    .ec-help-content > strong {display:block;margin:15px 0;font-size:14px;color:#fff}
    .ec-help-content > strong:first-child {margin-top:0}
    .ec-help-content > strong:before {content:'[ '}
    .ec-help-content > strong:after {content:' ]'}
    .ec-help-content .list > li:before {background-color:#fff}
    /* Info Box */
    .ui-info .btn-close:before {background-position:-27px 0}
    .ui-info {position:relative;padding:10px 15px;margin:20px 0;border:1px solid #d9d9d9;line-height:2;background:#f5f7f8}
    .ui-info  strong {display:block;margin-bottom:15px;font-size:12px}
    .ui-info  strong:before {content:'- '}
    .ui-info .ico-status {width:20px;height:20px;background-size:80px auto}
    .ui-info .update {background-position-x:-20px}
    .ui-info .error {background-position-x:-40px}

/* search wrap */
    .search-wrap {position:relative;margin:25px 0;padding:20px;background:#f5f5f5}
    .search-wrap:after {display:none;content: '';position: absolute;left:0;right: 0;bottom: -10px;margin: auto;width:30px;height:15px;background-position:-50px -93px}
    .search-wrap .btn-wrap {margin-top:20px}
    .search-wrap table {width:60%;min-width:978px;margin:0 auto;border-collapse:separate;border-spacing:0 2px}
    .search-wrap table th,.search-wrap table td {border:0 none}
    .search-wrap table th {padding:3px 0;background:transparent}
    .search-wrap table th > div {position:relative;display:inline-block;padding:0 10px;width:100%}
    .search-wrap table th > div:before {display:none;content:'';position:absolute;top:0;bottom:0;margin:auto;width:1px;height:20px;background:#ccc}
    .search-wrap table th > div:before  {left:0}
    .search-wrap table tr th:first-child > div:before {display:none}
    .search-wrap .btn-wrap .ui-btn {width:15%}

/* UI Category */
    .ui-category {margin-top:25px}
    .cate-sch {overflow:hidden;width:40%}
    .cate-sch input,.cate-sch .ui-btn {float:left;margin-right:5px}
    .cate-sch input {width:calc(100% - 105px)}
    .cate-sch .ui-btn {width:95px}
    .cate-depth {overflow:hidden;margin:10px -3px 0}
    .cate-depth > li {float:left;width:20%;padding:0 3px}
    .cate-depth > li > strong,.cate-depth > li > div {border:1px solid #ccc}
    .cate-depth > li > strong {display:block;text-align:center;font-size:12px;line-height:2.5;border-bottom:0 none;background:#ddd}
    .cate-depth > li > div {overflow:auto;height:150px}
    .cate-depth > li > div a {overflow:hidden;display:block;margin:2px 0;padding:5px;font-size:11px;white-space:nowrap;text-overflow:ellipsis;text-decoration:none;color:#666}
    .cate-depth > li > div a:before {
        content:'';display:inline-block;width:0;height:0;margin-right:2px;vertical-align:middle;border:4px solid #666;border-radius:2px;
        border-top-color:transparent;border-right-color:transparent;border-bottom-color:transparent
    }
    .cate-depth > li > div a:hover,.cate-depth > li > div a.active {background:#efefef}
    .cate-depth > li > div a.active {color:#2aa1ff}
    .cate-depth > li > div a.active:before {border-left-color:#2aa1ff}

/* Order Step */
    .search-type-wrap {margin-top:15px}
    .search-type-wrap .search-wrap {display:none;margin-top:0;clear:both}
    .search-type-wrap:after {content:'';display:block;clear:both}
    .search-type {float:right;width:200px;margin-right:10px;margin-bottom:5px;} /* 주문 검색/스탭형 선택 */
    .search-type label > span:after {left:97px}
    .search-type.active ~ .order-step-wrap {display:none}
    .search-type.active ~ .search-wrap {display:block;overflow:auto}    
    .order-step-wrap {overflow:auto;width:100%}
    .order-step-wrap ul {display:table;width:100%;border-spacing:5px}
    .wrap-pannel .order-step-wrap ul {min-width:1200px}
    .order-step-wrap ul > li {display:table-cell;padding:7px;vertical-align:middle;border-radius:10px;background:#f3f3f3}
    .order-step-wrap ul > li:first-child {border-left:0 none}
    .order-step-wrap ul > li > div {height:100%}
    .order-step-wrap ul > li > a {display:block;font-size:12px;line-height:2;text-decoration:none;color:#444}    
    .order-wrap,.order-edit-pannel {transition:all .2s}
    .order-edit-pannel {
        position: fixed;right:-500px;top: 0;z-index: 9;width: 500px;height: 100%;padding:80px 0 40px;background: #f1f1f1;
        box-shadow:inset 4px 0px 10px 0px rgba(0, 0, 0, .1)
    }
    .wrap-pannel .order-edit-pannel {right:0}
    .wrap-pannel .order-wrap {margin-right:525px}
    .pannel-wrap {overflow:auto;height:100%;padding:0 10px}
    .pannel-tab {overflow:hidden;position:absolute;left:0;top:45px;width:100%;padding:0 5px}
    .pannel-tab > li {float:left;width:20%}
    .pannel-tab > li a {display:block;padding:5px;margin:0 2px;font-size:12px;text-align:center;color:#fff;text-decoration:none;background:#a1a1a1}
    .pannel-tab > li a.active {background:#007fff}
    .pannel-btn {display:table;width:100%;table-layout:fixed;border-spacing:5px}
    .pannel-btn > li {display:table-cell;}
    .pannel-btn > li .ui-btn {width:100%}
    .close-pannel {display:none;position:absolute;left:-45px;top:36px;width:45px;height:45px;border-left:1px solid #ccc;border-bottom:1px solid #ccc;background:#fff}
    .wrap-pannel .close-pannel {display:block}
    .close-pannel:after {content:'';position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;width:15px;height:15px;background-position:-27px 0}

    .i-delivery,.i-gift,.i-msg,.i-print-order,.i-print-buy,.i-mail-pc,.i-mail-mobile,.i-mail-mobile2 {display:inline-block;width:24px;height:24px}
    .i-delivery:after,.i-gift:after,.i-msg:after,.i-print-order:after,.i-print-buy:after,.i-mail-pc:after,.i-mail-mobile:after,.i-mail-mobile2:after {content:'';display:inline-block;width:100%;height:100%;vertical-align:top;background:transparent url('/ec/resource/images/ico_delivery.png') no-repeat 0 0}
    .i-gift:after {background-position:-24px 0}
    .i-delivery:after {background-position:-48px 0}
    .i-print-order:after {background-position:-72px 0}
    .i-print-buy:after {background-position:-96px 0}
    .i-mail-pc:after {background-position:-120px 0}
    .i-mail-mobile:after {background-position:-144px 0}
    .i-mail-mobile2:after {background-position:-168px 0}

/* Layer Popup */
    .layer-wrap {position:fixed;left:0;top:0;z-index:100;width:100%;height:100%;background:rgba(34,34,34,.6)}
    .layer-container {position:fixed;padding:36px 2px 51px;background:#fff}
    .layer-header {position:absolute;left:0;right:0;top:2px;margin:0 2px;padding:0 14px;background:#3769be}
    .layer-header > span {font-size:14px;line-height:2.428571428;color:#fff}
    .layer-header button {position: absolute;right:5px;top:0;bottom:0;margin:auto 0;width:15px;height:15px;border:0;outline:none;background-position: -42px 0}
    .layer-content {overflow:auto;height:100%;padding:15px}
    .layer-footer {position:absolute;left:0;right:0;bottom:0;margin:0 2px;padding:10px 5px;text-align:right;border-top:1px solid #d9d9d9}
    .layer-footer-l {float:left}
    .ui-draggable-handle {cursor:move}
    .ui-resizable-handle.ui-icon {background:none !important}
    .layer-sch-wrap {padding:10px 15px;margin-bottom:10px;background:#f0f0f0}
    .layer-sch-wrap ul {display:table;width:100%;margin:0;font-size:12px}
    .layer-sch-wrap ul li {display:table-row}
    .layer-sch-wrap ul li > strong,.layer-sch-wrap ul li > div {display:table-cell;padding:3px 0}
    .loading {background:transparent url('/ec/resource/images/ajax_loader.gif') no-repeat  50% 50%}
    .layer-content .page-title-sub {margin:0 0 10px}
    .layer-content .ec-help-content {margin-left:0;margin-right:0;margin-bottom:10px}

/* window popup */
    .ec-pop-wrap .ec-section,.ec-pop-wrap .ec-help-content {margin:0}
    
    /* 상품편집 */
    .edit-prd-pop {padding:0}
    .edit-prd-info {position:fixed;left:0;top:0;z-index:10;width:100%;height:100px;padding:15px 15px 15px 180px;background:#d9d9d9}
    .edit-prd-info > span {overflow:hidden;position:absolute;left:20px;top:0;bottom:0;width:130px;height:80px;padding-top:4px;margin:auto;border-radius:10px;background:#fff}    
    .edit-prd-info .list li {line-height:1.5}
    .edit-prd-info ~ .ui-tab-wrap{margin-top:10px}
    .edit-tabs .ui-tabs-nav,.fix-btn-group {position:fixed;left:0;top:100px;z-index:10;width:100%;padding-top:20px;background:#fff;box-shadow:0 2px 5px 0px rgba(0, 0, 0, 0.1)}    
    .save-edit-content {position:fixed;right:15px;top:95px;z-index:10;padding-top:20px}
    .edit-tabs .ui-tabs-nav li:first-child {margin-left:15px !important}
    .edit-row {height:100%;padding-top:150px}
    .edit-row-scroll {overflow:auto;height:100%;padding:0 15px 15px}
    .edit-form {font-size:12px}
    .edit-form .edit-form-row:first-child {margin-top:0}
    .edit-form-row {padding:15px 0;}
    /* .edit-form-row:nth-child(even) {background:#f2f6fa} */
    .edit-label {overflow:hidden;padding:0 15px;line-height:3.166667;background:#eceff2}
    .edit-label .ui-label {vertical-align:top}
    .edit-label > strong {color:#333}
    .edit-label > strong:before {content: url('/ec/resource/images/bg_select_arr.png');margin-right:5px}
    .edit-label > div {float:right}
    .edit-label > div .ui-btn {vertical-align:baseline}
    .edit-form-unit {margin-top:10px;padding:0 15px}
    .edit-form-cate {margin-top:20px;padding:0 15px}
    .no-unit {text-align:center;padding-top:15px;padding-bottom:15px;background:#f1f1f1}
    .edit-form-cate .edit-form-unit {padding:0}
    .calc-byte {margin-left:10px;}
    .calc-byte i {color:#f21542}
    .input-addon {overflow:hidden}
    .input-addon > span,.input-addon > input {float:left}
    .input-addon > input {width:80%}
    .input-addon > span:first-child {width:20%;padding:6px 0;line-height:1.5;text-align:center;color:#333;background:#c1c1c1}
    .input-addon .ui-date input {width:calc(100% - 33px)}
    .txt-guide {clear:both;margin:5px 0;font-size:11px}
    .txt-guide:before {content:'※';margin-right:5px}
    .edit-btn-group {margin-bottom:5px;text-align:right}
    .edit-form-thumb > li {overflow:hidden;margin-top:20px}
    .edit-form-thumb > li > div {float:left}
    .edit-form-thumb .prd-thumb {width:120px;min-height:120px;padding:5px;margin-right:10px;text-align:center;border:1px solid #d9d9d9}
    .edit-form-thumb .prd-thumb img {cursor:pointer}
    .edit-form-thumb .prd-thumb-edit {width:calc(100% - 130px)}
    .edit-form-thumb .prd-thumb-edit .badge {vertical-align:middle}
    .edit-form-thumb .prd-thumb-edit > strong {font-size:16px;font-weight:normal}
    .edit-form-thumb .edit-form-unit {position:relative;padding:0}
    .edit-form-thumb .edit-form-unit .ui-btn {position:absolute;right:0;top:0}
    .edit-form-thumb {overflow:hidden}
    .add-thumb {margin-top:15px;}
    .add-thumb:before {content:'';display:inline-block;width:14px;height:14px;margin-right:10px;vertical-align:middle;background-position:100% 100%}
    .ui-form-time {padding-left:3px;text-align:center}
    .ui-form-time input {width:43%;text-align:center}
    .ui-form-time i {display:inline-block;line-height:30px;width:14%}

    /* 주문수정 */
    .fix-btn-group {overflow:hidden;padding:15px 30px 5px 15px}
    .fix-btn-group-l {float:left}
    .fix-btn-group-r {float:right;text-align:right}
    .edit-order-control > span {
        display:inline-block;height:30px;padding:5px 10px;font-size:12px;font-weight:400;line-height:1.5;color:#333 !important;
        vertical-align:middle;border:1px solid #ccc;
        background:#fff none;
    }
    .edit-order-control .prev:before,.edit-order-control .next:after {content:'';display:inline-block;width:6px;height:10px;vertical-align:middle;opacity:.5}
    .edit-order-control .prev:before {margin-right:10px;background-position:-68px -79px}
    .edit-order-control .next:after {margin-left:10px;background-position:-74px -79px}
    .edit-order-control > span i {color:#f21542}

    .add-row-tbl th div,.add-row-tbl td div {margin:5px 0}
    .add-row-tbl tbody tr:nth-child(4n+3) td,.add-row-tbl tbody tr:nth-child(4n+3) + tr td {background:#f3f6fc}
    .add-row-tbl td {vertical-align:top}
    .add-row-tbl tbody tr td:nth-child(9),.add-row-tbl tbody tr td:nth-child(10) {vertical-align:middle}
    .tr-delivery {display:none}    
    .show-delivery .tr-delivery {display:table-row}
    .total-price-wrap {margin-top:25px;}
    .price-total {margin-top:22px;}
    .price-total th,.price-total td {height:45px;border-color: #ffffff;border-top-width: 5px}
    .price-total th {text-align: center;background: #e5effa}
    .price-total td {padding: 0 7px}
    .price-total td input {height: 100%;font-size:12px;font-weight:700;color:#f72865}