body {color:#212121}
table {width:100%;border-spacing:0;text-align:center;table-layout: fixed;border-collapse:collapse;word-break:break-all}
table th,table td {padding:3px 4px;border-top:1px solid #dedede;border-bottom:1px solid #dedede;border-left:1px solid #dedede}
th {text-align:inherit;background-color:#f5f5f5}
table thead th {height:40px;border-bottom:0 none}
table tbody th,table tbody td {height:38px}
table thead tr th:first-child,table tbody tr td:first-child,table tbody tr th:first-child {border-left:0 none}
img {max-width:100%;border:0}
a {color:#337ab7;text-decoration:none}
a:hover,a:focus {color:#23527c}
h1 {margin-top:50px;text-align:center;line-height:1.6875}
h1:before {content:'';display:inline-block;width:100px;height:34px;margin-top:12px;margin-right:10px;vertical-align:top;background:transparent url('https://www.shoplinker.co.kr/workshop/images/logo.png') no-repeat 0 0;background-size:contain}

.guide-list {overflow:hidden;width:750px;margin:50px auto 0}
.guide-list li {float:left;width:250px;padding:10px 0;text-align:center}
.guide-list li a {display:block;margin:0 10px;font-size:1em;line-height:5;color:#fff;border-radius:10px;background:#0290ec}
.guide-list li a:hover {background:#004bc9}
.guide-list li a.disabled {opacity:.5;cursor:not-allowed}
.guide-list li a.disabled:hover {background:#0290ec}

/* Buttons */
